.hero-container #hero-image {
    width: 500px;
    height:300px;
}

.hero-container {
    background-color: #1F2937;
}

.hero-container .main-text {
font-size:48px;
font-weight: 500;
color: #F9FAF8;
}

.hero-container .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    font-size: 18px;
    color: #E5E7EB;
}
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-container .button {
    background-color: #3882F6;
    padding: 8px;
}